name: Release Tag
on:
  push:
    branches:
      - develop
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    - name: 버전 정보 추출
      id: extract_version_name # 스텝 ID는 그대로 둡니다
      run: |
        # 1. 커밋 메시지에서 버전 정보를 추출합니다. (여러 줄일 경우 첫 번째 줄만 선택)
        VERSION=$(echo "${{ github.event.head_commit.message }}" | egrep -o '[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}' | head -n 1)
        # 2. 새로운 방식으로 output을 설정합니다.
        echo "version=$VERSION" >> $GITHUB_OUTPUT   
    - name: Release 생성 
      if: steps.extract_version_name.outputs.version != ''
      uses: actions/create-release@v1
      env: 
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      with: 
        tag_name: ${{ steps.extract_version_name.outputs.version }} 
        release_name: ${{ steps.extract_version_name.outputs.version }} 